.main-div {
  display: flex;
  flex-direction: column;
  align-items: center; /* Tüm yapıyı ortalamak için */
}

.board-row {
  display: flex; /* Satırdaki butonları yan yana koymak için */
}

.square {
  width: 50px; /* Sabit genişlik */
  height: 50px; /* Sabit yükseklik */
  font-size: 24px; /* İçerik boyutunu belirleyin */
  text-align: center; /* Metni ortalayın */
  vertical-align: middle; /* Dikey ortalama */
  line-height: 50px; /* Dikey içerik hizalama */
}
